<article class="card">
  <div class="card-header">
    <h4><a href="{{post_url}}" target="_blank" rel="noreferrer noopener" class="link">{{title}}</a></h4>
    <span>({{format_url post_url}})</span>
  </div>
  <div class="card-body">
    {{vote_count}} {{format_plural "point" vote_count}} by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}" class="edit-link">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>